RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex index.php

#Blog Detail Page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/\*]+)/([^/\*]+)?$ blog-details.php?ptype=$1&burl=$2